<div ng-controller="linijeKozmetikeCtrl">
	<h1>Spisak linija nase kozmetike:</h1>
	<br> <br>
	<div class="row">
		<div class="col-md-4" ng-repeat="lk in linijeKozmetike">
			<div class="card-group">
				<div class="view overlay">
					<img class="card-img-top"
						src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg"
						alt="Card image cap"> <a href="#!">
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>

				<div class="card-body">
					<p>
					<h4 class="card-title">{{lk.naziv}}</h4>
					<p class="card-text">{{lk.opis}}</p>
					<button type="button" class="btn btn-primary btn-md" ng-click="goToProizvodi(lk.id)">Prikazi
						proizvode</button>
					</p>
					<p>
					<p>
						<button type="button" class="btn btn-info btn-xs"
							ng-click="goToEdit(lk.id)">Izmjeni</button>
						<button type="button" class="btn btn-info btn-xs"
							ng-click="delete(lk.id)">Obrisi</button>
					</p>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br /> <br />
	<div ng-show="visible2">
		<div class="col-12 col-lg-3">
			<br />
			<form>
				<div class="form-group">
					<label for="time">Naziv</label> <input class="form-control"
						ng-model="linijaKozmetike.naziv" />
				</div>

				<div class="form-group">
					<label>Datum lansiranja</label> <input type="text"
						date="yyyy.MM.dd" ng-model="linijaKozmetike.datumLansiranja">
				</div>
				<div class="form-group">
					<label>Opis</label> <input class="form-control"
						ng-model="linijaKozmetike.opis" />
				</div>
				<button class="btn btn-secondary" ng-click="doEdit(linijaKozmetike.id)">Izmijeni</button>
			</form>
		</div>
	</div>

	<span>
		<button ng-click="show()" class="btn btn-success btn-md">Dodaj
			novu liniju kozmetike</button>
		<div ng-show="visible">
			<div class="col-12 col-lg-3">
				<br />
				<form>
					<div class="form-group">
						<label for="time">Naziv</label> <input class="form-control"
							ng-model="newLinijaKozmetike.naziv" />
					</div>

					<div class="form-group">
						<label>Datum lansiranja</label> <input type="text"
							date="yyyy-MM-dd" ng-model="newLinijaKozmetike.datumLansiranja">
					</div>
					<div class="form-group">
						<label>Opis</label> <input class="form-control"
							ng-model="newLinijaKozmetike.opis" />
					</div>
					<button class="btn btn-secondary" ng-click="doAdd()">Dodaj
						novu liniju kozmetike</button>
				</form>
			</div>
		</div>
	</span>
</div>
</div>