<div ng-controller="apotekeCtrl">
	<h1>Spisak apoteka u kojima mozete pronaci nasu kozmetiku:</h1>
	<br> <br>
	<p>
	<div class="row">

		<div class="col-12 col-lg-8">
			<h3>Potrazite najblizu apoteku:</h3>
			<form>
				<div class="form-group">
					<label>Naziv apoteke</label> <input class="form-control"
						ng-model="searchParams.naziv" />
				</div>
				<div class="form-group">
					<label>Grad</label> <input class="form-control"
						ng-model="searchParams.grad" />
				</div>
				<div class="form-group">
					<label>Lanac apoteka</label> <select class="form-control"
						ng-model="searchParams.lanac">
						<option ng-repeat="la in lanciApoteka" value={{la.id}}>{{la.naziv}}</option>
					</select>
				</div>
				<button ng-click="doSearch()" class="btn btn-primary">Pretrazite</button>
			</form>
			<br /> <br /> <br />
		</div>
		
		<div class="col-12 col-lg-8">
			<div class="btn-group float-right">
				<button ng-disabled="pageNum == 0" ng-click="changePage(-1)"
					class="btn btn-info">Previous</button>
				<button ng-disabled="pageNum == totalPages - 1"
					ng-click="changePage(1)" class="btn btn-info">Next</button>
			</div>
			<div class="btn-group float-left">
				<button ng-click="addLanacApoteka()"
					class="btn btn-info">Dodaj novi lanac apoteka</button>
			</div>

			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Naziv lanca</th>
						<th>Kontakt osoba</th>
						<th>Email</th>
						<th>Telefon</th>
						<th colspan="4"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="la in lanciApoteka">
						<td>{{la.naziv}}</td>
						<td>{{la.kontaktOsoba}}</td>
						<td>{{la.email}}</td>
						<td>{{la.telefon}}</td>
						<td><button class="btn btn-warning" ng-click="listApoteke(la.id)">
								Prikazi apoteke samo <br/> ovog lanca apoteka</i>
							</button></td>
						<td><button class="btn btn-warning" ng-click="goToEditLanacApoteka(la.id)">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button></td>
						<td><button class="btn btn-danger" ng-click="deleteLanacApoteka(la.id)">
								Obrisi</button></td>
					</tr>
				</tbody>
			</table>
			<br /> <br /> <br />
		</div>

		<div class="col-12 col-lg-8">
			<div class="btn-group float-right">
				<button ng-disabled="pageNum == 0" ng-click="changePage(-1)"
					class="btn btn-info">Previous</button>
				<button ng-disabled="pageNum == totalPages - 1"
					ng-click="changePage(1)" class="btn btn-info">Next</button>
			</div>
			<br>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Naziv</th>
						<th>Adresa</th>
						<th>Grad</th>
						<th>Telefon</th>
						<th>Email</th>
						<th>Lanac apoteka kome pripada</th>
						<th colspan="2">Opcije</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in apoteke">
						<td>{{a.naziv}}</td>
						<td>{{a.adresa}}</td>
						<td>{{a.grad}}</td>
						<td>{{a.telefon}}</td>
						<td>{{a.email}}</td>
						<td ng-if="a.lanacApotekaId != null">{{a.lanacApotekaNaziv}}</td>
						<td ng-if="a.lanacApotekaId == null">/</td>
						<td><button class="btn btn-warning" ng-click="goToEdit(a.id)">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button></td>
						<td><button class="btn btn-danger" ng-click="delete(a.id)">
								Obrisi</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>