<meta charset="utf-8">
<div ng-controller="apotekeCtrl">
	<div class="about">
		<div class="container">
			<h2>Spisak apoteka u kojima možete pronaći našu kozmetiku</h2>
			<br /> <br />
			<h4>Potražite najbližu apoteku:</h4>

			<div class="col-12 col-lg-8">
				<form>
					<div class="md-form mb-3 mt-0">
						<h5>Naziv apoteke:</h5>
						<input class="form-control" type="text" placeholder="Sunce"
							ng-model="searchParams.naziv" aria-label="Naziv apoteke">
					</div>
					<div class="md-form mb-3 mt-0">
						<h5>Grad:</h5>
						<input class="form-control" type="text" placeholder="Novi Sad"
							ng-model="searchParams.grad" aria-label="Grad">
					</div>
					<div class="md-form active-pink active-pink-2 mb-3 mt-0">
						<h5>Lanac apoteka:</h5>
						<select class="form-control" ng-model="searchParams.lanac">
							<option ng-repeat="la in lanciApoteka" value={{la.id}}>{{la.naziv}}</option>
						</select>
					</div>
					<div class="text-center">
						<button ng-click="doSearch()" class="btn btn-primary">Pretražite</button>
					</div>
				</form>
				<br /> <br /> <br />
			</div>
		</div>
		<div class="container">

			<h4>Lanci apoteka u kojima možete pronaći naše preparate:</h4>
			<div class="col-12 col-lg-8">
				<p>
				<div class="btn-group float-right">
					<button ng-disabled="pageNum == 0" ng-click="changePage(-1)"
						class="btn">Prethodna</button>
					<button ng-disabled="pageNum == totalPages - 1"
						ng-click="changePage(1)" class="btn">Sljedeća</button>
				</div>
				</p>
			</div>
			<div class="col-12 col-lg-8">
				<div class="text-muted">
					<div class="text-center">
						<table class="table table-bordered table-striped">
							<thead class="thead-dark">
								<tr>
									<th>Naziv lanca</th>
									<th>Kontakt osoba</th>
									<th>Email</th>
									<th>Telefon</th>
									<th colspan="4" ng-show="false"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="la in lanciApoteka">
									<td>{{la.naziv}}</td>
									<td>{{la.kontaktOsoba}}</td>
									<td>{{la.email}}</td>
									<td>{{la.telefon}}</td>
									<td><button class="btn btn-primary"
											ng-click="listApoteke(la.id)">Apoteke ovog lanca</button></td>
									<td><button class="btn btn-warning"
											ng-click="goToEditLanacApoteka(la.id)">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button></td>
									<td><button class="btn btn-danger"
											ng-click="deleteLanacApoteka(la.id)">
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<button class="btn btn-success" ng-click="addLanacApoteka()">
						Dodaj novi Lanac apoteka</i>
					</button>
				</div>
			</div>
		</div>
		<br /> <br /> <br />

		<div class="container">

			<h4>Apoteke partneri:</h4>

			<div class="col-12 col-lg-8">
				<div class="text-muted">
					<div class="text-center">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Naziv</th>
									<th scope="col">Adresa</th>
									<th scope="col">Grad</th>
									<th scope="col">Telefon</th>
									<th scope="col">Email</th>
									<th scope="col">Lanac apoteka</th>
									<th colspan="2" scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="a in apoteke">
									<td>{{a.naziv}}</td>
									<td>{{a.adresa}}</td>
									<td>{{a.grad}}</td>
									<td>{{a.telefon}}</td>
									<td>{{a.email}}</td>
									<td ng-if="a.lanacApotekaId != null">{{a.lanacApotekaNaziv}}</td>
									<td ng-if="a.lanacApotekaId == null">/</td>
									<td><button class="btn btn-warning"
											ng-click="goToEdit(a.id)">
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</button></td>
									<td><button class="btn btn-danger" ng-click="delete(a.id)">
											<i class="fa fa-trash-o" aria-hidden="true">
										</button></td>
								</tr>
							</tbody>
						</table>
						<div class="white">
							<div class="btn-group float-right">
								<button ng-disabled="pageNum == 0" ng-click="changePage(-1)"
									class="btn">Prethodna</button>
								<button ng-disabled="pageNum == totalPages - 1"
									ng-click="changePage(1)" class="btn">Sljedeća</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>