<meta charset="utf-8">
<div>
	<div class="about">
		<section id="advanced-features">
			<div class="features-row section-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<img class="advanced-feature-img-right wow fadeInRight"
								src="/assets/img/brend.jpg" alt="">
							<div class="wow fadeInLeft">
								<h2>Naš brend</h2>
								<p>
									Neki tekst o brendu<br /> Ovdje ide priča o brendu, godina
									osnivanja, misija, vizija, nešto o istraživanjima,
									dostignućima...
								</p>
								<div>
									<div class="btn-gamp">
										<a href="#">Linije kozmetike</a> <a href="#">Proizvodi</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="services">
		<div class="container">
			<div class="text-center">
				<h2>Naši proizvodi su:</h2>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="300ms">
				<i class="fa fa-heart-o"></i>
				<h3>Kreirani sa puno ljubavi</h3>
				<p>Svaki sastojak je pažljivo odabran kako bismo postigli
					savršen sklad u svakoj formulaciji</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="600ms">
				<i class="fa fa-check"></i>
				<h3>Klinički ispitani</h3>
				<p>U skladu sa zakonom o ...</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="900ms">
				<i class="fa fa-book"></i>
				<h3>Poboljšani Vašim iskustvima</h3>
				<p>Osluškujemo potrebe i želje naših korisnika kako bismo ...</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="1200ms">
				<i class="fa fa-gear"></i>
				<h3>U stalnom procesu unapređenja</h3>
				<p>Naš tim stručnjaka stalno radi kako bismo...</p>
			</div>
		</div>
	</div>

	<section id="about2">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6">
					<div class="about-img">
						<img src="/assets/img/34.jpg" alt="">
					</div>
				</div>

				<div class="col-lg-7 col-md-6">
					<div class="about-content">
						<h2>Zašto baš naš brend?</h2>
						<h3>Prisutni smo na tržištu preko 10 godina.</h3>
						<p>Iza sebe imamo preko milion zadovoljnih potrošača.</p>
						<p>Svaki naš proizvod je kreiran...</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>