<meta charset="utf-8">
<hr>
<div ng-controller="expertiCtrl">
	<div class="container">

		<div id="our-team">
			<div class="container">
				<div class="text-center">
					<h2>Naši stručnjaci su uvijek na raspolaganju da Vam pomognu</h2>
					<p>Ovdje ide neki tekst o ekspertima</p>
				</div>
				<div class="text-center">

					<div class="row">

						<div class="col-md-4 wow bounceInDown" data-wow-offset="0"
							data-wow-delay="0.3s" ng-repeat="e in experti">
							<img src="/assets/img/expert.jpg" alt="">
							<h2>{{e.zvanje}} {{e.ime}} {{e.prezime}}</h2>
							<h4>{{e.email}}</h4>
							<p>
								<i class="fa fa-quote-left"></i> {{e.opis}}
							</p>
							<div class="btn-group float-left">
								<button ng-click="sendMessage(e.id)" class="btn btn-info">Pošalji
									poruku</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>