<meta charset="utf-8">
<div>
	<div class="slider">
		<div id="about-slider">
			<div id="carousel-slider" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators visible-xs">
					<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-slider" data-slide-to="1"></li>
					<li data-target="#carousel-slider" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<img src="/assets/img/slide.jpg" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="0.3s">
								<h2>
									<span>Kozmetika namjenjena Vašoj koži</span>
								</h2>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<div class="wow fadeInUp" data-wow-offset="0"
									data-wow-delay="0.6s">
									<p>Upoznajte se sa našim proizvodima</p>
								</div>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="0.9s">
								<form class="form-inline">
									<div class="form-group">
										<button type="livedemo" name="Live Demo"
											class="btn btn-primary btn-lg" required="required">Linije
											kozmetike</button>
									</div>
									<div class="form-group">
										<button type="getnow" name="Get Now"
											class="btn btn-primary btn-lg" required="required">Proizvodi</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="item">
						<img src="/assets/img/slide3.jpg" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="1.0s">
								<h2>Pitajte naše eksperte</h2>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<div class="wow fadeInUp" data-wow-offset="0"
									data-wow-delay="0.6s">
									<p>Pronađite pravi proizvod za Vas</p>
								</div>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="1.6s">
								<form class="form-inline">
									<div class="form-group">
										<button type="livedemo" name="purchase"
											class="btn btn-primary btn-lg" required="required">Pitaj
											eksperta</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="/assets/img/slide.jpg" class="img-responsive" alt="">
						<div class="carousel-caption">
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="0.3s">
								<h2>Prodajna mjesta</h2>
							</div>
							<div class="col-md-10 col-md-offset-1">
								<div class="wow fadeInUp" data-wow-offset="0"
									data-wow-delay="0.6s">
									<p>Pogledajte spisak aktuelnih promocija</p>
								</div>
							</div>
							<div class="wow fadeInUp" data-wow-offset="0"
								data-wow-delay="0.9s">
								<form class="form-inline">
									<div class="form-group">
										<button type="livedemo" name="purchase"
											class="btn btn-primary btn-lg" required="required">Prodajna
											mjesta</button>
									</div>
									<div class="form-group">
										<button type="getnow" name="subscribe"
											class="btn btn-primary btn-lg" required="required">Promocije</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<a class="left carousel-control" data-target="#carousel-slider"
					data-slide="prev"> <i class="fa fa-angle-left"></i>
				</a> <a class="right carousel-control" data-target="#carousel-slider"
					data-slide="next"> <i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="about">
		<section id="advanced-features">
			<div class="features-row section-bg">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<img class="advanced-feature-img-right wow fadeInRight"
								src="/assets/img/brend.jpg" alt="">
							<div class="wow fadeInLeft">
								<h2>Naš brend</h2>
								<p>
									Neki tekst o brendu<br /> Ovdje ide priča o brendu, godina
									osnivanja, misija, vizija, nešto o istraživanjima,
									dostignućima...
								</p>
								<div>
									<div class="btn-gamp">
										<a href="#">Linije kozmetike</a> <a href="#">Proizvodi</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="services">
		<div class="container">
			<div class="text-center">
				<h2>Naši proizvodi su:</h2>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="300ms">
				<i class="fa fa-heart-o"></i>
				<h3>Kreirani sa puno ljubavi</h3>
				<p>Svaki sastojak je pažljivo odabran kako bismo postigli
					savršen sklad u svakoj formulaciji</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="600ms">
				<i class="fa fa-check"></i>
				<h3>Klinički ispitani</h3>
				<p>U skladu sa zakonom o ...</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="900ms">
				<i class="fa fa-book"></i>
				<h3>Poboljšani Vašim iskustvima</h3>
				<p>Osluškujemo potrebe i želje naših korisnika kako bismo ...</p>
			</div>
			<div class="col-md-3 text-center" data-wow-duration="1000ms"
				data-wow-delay="1200ms">
				<i class="fa fa-gear"></i>
				<h3>U stalnom procesu unapređenja</h3>
				<p>Naš tim stručnjaka stalno radi kako bismo...</p>
			</div>
		</div>
	</div>

	<div id="advanced-features">
		<div class="features-row section-bg">
			<div class="container">
				<div class="row">
					<div class="col-12">

						<img class="advanced-feature-img-left wow fadeInRight"
							src="/assets/img/prodajna-mjesta.jpg" alt="">
						<h2 class="text-right">Prodajna mjesta</h2>
						<p class="text-right">
							<em>Naša kozmetika nalazi se u brojnim apotekama u preko 10
								zemalja širom svijeta</em><br> <br> Našim stalnim akcijama
							i promocijama kao i poklon proizvodima trudimo se da nagradimo
							naše vijerne potrošače!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gallery">
		<div class="text-center">
			<br /> <br /> <br />
			<h2 style="font-size: 40px">Naše linije kozmetike</h2>
			<p>Pronađite proizvod koji u potpunosti odgovara Vašoj koži</p>
			<br />
		</div>
		<div class="container">
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/1.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Hydrabio</h4>
						<p>Vaša koža je suva i dehidrirana?</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/2.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Sebium</h4>
						<p>Akne i koža sklona nepravilnostima</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/3.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Sensibio</h4>
						<p>Rozacea i crvenilo</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/4.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Cicabio</h4>
						<p>Ekcemi i iritacije kože</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/5.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Photoderm</h4>
						<p>Zaštita od sunca</p>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-marley">
					<img src="/assets/img/6.jpg" alt="" class="img-responsive" />
					<figcaption>
						<h4>Atoderm</h4>
						<p>Atopična koža, svrab i perutanje</p>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>